<% depth = depth + 1 %>

<td class="family depth-<%= depth %>">

  <%= (lineup) ? '<div class="lineup">&nbsp;</div>' : '' %>

  <%= person.linkName %>
  
  <% if( person.children.length > 0 && depth <= max_depth) %>
  
    <div class="linedown">&nbsp;</div>
    
    <table <%= (person.children.length > 1) ? 'class="children"' : '' %>><tr>
    
      <% person.children.each do |child| %>
        <%= render( :partial => "family", 
          :locals => { 
            :person => child, 
            :lineup => (person.children.length > 1),
            :depth => depth, 
            :max_depth => max_depth 
          })   %>
      <% end %>
      
    </tr></table>
  
  <% end %>
    
</td>

