<h1>Listing people</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th>Gender</th>
    <th>Father</th>
    <th>Mother</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.name %></td> 
    <td><%=h person.genderName %></td>
    <td><%=h person.fatherName %></td>
    <td><%=h person.motherName %></td>
    <td><%= link_to 'Show', person %></td>
    <% if authorized? %>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to('New person', new_person_path) if authorized? %>