<h1>Listing people</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Gender</th>
    <th align="left">Father</th>
    <th align="left">Mother</th>
    <!-- th align="left">Family Tree</th -->
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.linkName %></td> 
    <td><%=h person.genderName %></td>
    <td><%= person.father.linkName unless !person.father %></td>
    <td><%= person.mother.linkName unless !person.mother %></td>
    <!-- td><  %= link_to "Family Tree", {:controller => "families", :action => "show", :id => person.id }  %  ></td -->
    <% if authorized? %>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to('New person', new_person_path) if authorized? %>