<p>
  <b>Father:</b>
  <%=h @person.father_id %>
</p>

<p>
  <b>Mother:</b>
  <%=h @person.mother_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @person.description %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>