<h1><%= link_to @person.name, @person %></h1>

<% if @person.gender %>
<p>
  <%= @person.genderName %>
</p>
<% end %>


<% if @person.description %>
<p>
  <%=h @person.description %>
</p>
<% end %>

<h2>Family Tree of <%= @person.name %></h2>

<div class="family-tree">

  <% if(@person.mother && @person.father) %>
    <div class="parents">
      <%= @person.father.linkName %>
      <%= @person.mother.linkName %>
    </div>
    <div class="clear"></div>
    <div class="linedown">&nbsp;</div>
  <% else if(@person.mother || @person.father) %>
    <%= @person.father.linkName unless !@person.father %>
    <%= @person.mother.linkName unless ! @person.mother%>
    <div class="linedown">&nbsp;</div>
  <% end end %>

  <% if(@person.siblings.length > 0) %>
    <table class="children"><tr>
  <% end %>

  <%= render( :partial => "family", 
          :locals => { 
            :person => @person, 
            :lineup => (@person.siblings.length > 0) ,
            :depth => 0, 
            :max_depth => @max_depth
          }
   ) %>
    
  <% if(@person.siblings.length > 0) %>
    <% @person.siblings.each do |sibling| %>
      <td class="family depth-0">
        <div class="lineup">&nbsp;</div>
        <%= sibling.linkName %>
      </td>
    <% end %>
    </tr></table>
  <% end %>
  
  <div class="clear">&nbsp;</div>

</div>

<% if(!params['family_tree_depth']) %>
<p><a href="?family_tree_depth=10">Show more of the family tree</a></p>
<% end %>

<% #todo: paginate this, preferably by book 
%>

<%= (@person.verses.length) ? "<h2>Verses where " + @person.name + " is mentioned</h2>" : '' %>
<% 
counter = 0
show_verses = params[:show_verses] || 10
show_verses = show_verses.to_i
@person.verses.each do |v| 
  counter = counter.next
  break if(counter > show_verses)
%>
  <p class="verse"><b><%= v.refference %></b> <%= v.linkedText authorized? %></p>
<% end %>

<%= (@person.verses.length > counter) ?  '<p><a href="?show_verses=60">Show more refferences to ' + @person.name + '</a></p>' : '' %>

<%= link_to 'Edit', edit_person_path(@person) if authorized? %> 


