<p>
  <b>Name:</b>
  <%= link_to @person.name, @person %>
</p>

<p>
  <b>Father:</b>
  <%= link_to (@person.fatherName, @person.father) unless !@person.father %>
</p>

<p>
  <b>Mother:</b>
  <%= link_to (@person.motherName, @person.mother) unless !@person.mother %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.genderName %>
</p>


<p>
  <b>Siblings:</b>
  <% for s in @siblings %>
    <%= link_to (s.name, s) %>
  <% end %>
</p>

<p>
  <b>Children:</b>
  <% for c in @person.children %>
    <%= link_to (c.name, c) %>,
  <% end %>
</p>

<p>
  <b>Family Tree:</b>
  <%= link_to "Family tree of " + @person.name, {:controller => "families", :action => "show", :id => @person.id }  %>
</p>

<p>
  <b>Description:</b>
  <%=h @person.description %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>