<h2>Search Results</h2>

<% form_tag '/search', :method => 'get' do %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "search", :name => nil %>
  </p>
<% end %>

<% if(@refference) %>
<p>Search for <b><%= @terms.join " " %></b> in <b><%= @refference.pretty %></b>
<% end %>

<% if(@verses.length == 0) %>
<p>Sorry, no results were found</p>
<% end %>

<% for v in @verses %>
  <h3 style="margin-bottom: 2px" class="refference" ><%= v.refference %></h3>
  <p class="verse"><%=v.linkedText authorized? %></p>
<% end %>

<%= will_paginate @verses %>