<h1>Search Results</h1>

<% form_tag verses_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "search", :name => nil %.
  </p>
<% end %>

<% for verse in @verses %>
  <h3 style="margin-bottom: 2px"><%= verse.chapter %>:<%= verse.text %></h3>
  <p><%= verse.text %></p>
<% end %>

<%= will_paginate @products %>
